<div>
  <h5 class="text-black inline">Overdue</h5> [<span id="count-overdue"><%= overdue.length %></span>]
  <ul 
  <h5 class="text-black inline">Due Later</h5> [<span id="count-due-later"><%= dueLater.length %></span>]
  <ul class="list-none">
    <% for (let i = 0; i < dueLater.length; i++) { 
      const items = dueLater[i];    
  %>  
      <li class="Todo-item">
          <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-green-500">
              <input type="checkbox" id="todo-check-dueLater-<%= i %>" onclick="updateTodo(<%= dueLater[i].id %>)"
              class="w-4 h-4 text-blue-600 todo-
